<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>OrgConnect</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>

  <body>
    <nav class="flex justify-center gap-10 text-xl font-bold bg-zinc-800 text-white h-full w-full p-6">
      <a href="/" class="p-2 hover:text-cyan-200">Home</a>
      <a href="/contact" class="p-2 hover:text-cyan-200">Contact</a>
    </nav>
    
    <div class="flex flex-col justify-center items-center text-center p-55 bg-gradient-to-r from-[#1e1f26] to-[#2c2f3f] text-stone-300">
      <div class="w-max">
        <h1 class="text-5xl font-bold bg-gradient-to-r from-[#00ff99] to-[#00ccff] bg-clip-text text-transparent pb-3">🌿 OrgConnect</h1>
        <p class="text-xl text-stone-300 p-7">Revolutionizing how farmers connect with businesses<br />Transparent, direct, and digital.</p>
      </div>
      <div class="flex justify-center gap-5">
          <button class="px-6 py-3 text-xl font-bold rounded-full cursor-pointer bg-[#00ff99] text-black shadow-[0_0_10px_#00ff99,0_0_20px_#00ff99] transition-all duration-300 hover:bg-[#00ccff] hover:shadow-[0_0_10px_#00ccff,0_0_20px_#00ccff]"
          onclick="window.location.href='/signup'">Sign Up</button>
          <button class="px-6 py-3 text-xl font-bold rounded-full cursor-pointer bg-[#00ff99] text-black shadow-[0_0_10px_#00ff99,0_0_20px_#00ff99] transition-all duration-300 hover:bg-[#00ccff] hover:shadow-[0_0_10px_#00ccff,0_0_20px_#00ccff]" onclick="window.location.href='/login'">Login</button>
      </div>
    </div>

  </body>
</html>
